
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/


*.pt
*.pth
*.h5
*.joblib
*.onnx
models/

backend/downloads/
backend/uploads/
backend/tmp/

backend/predictions.log

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*



dist/

electron/dist/
build/
*.exe
*.blockmap
